.root {
  display: grid;
  gap: 2rem;
  padding-top: 0;
  padding-bottom: 0;
}

.columns {
  display: grid;
  gap: 2rem;
  width: 100%;
  justify-self: center;
}

.column {
  display: grid;
  gap: 1rem;
  padding: 2rem 0;
  justify-items: center;
  border-radius: var(--theme-card-border-radius);
}

html[data-theme="light"] .column {
  background: var(--theme-card-bg-color);
}

.title {
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  margin: 0;
}

.title em {
  color: var(--ifm-color-primary);
  font-style: normal;
}

.description {
  color: var(--palette-pale-blue);
  text-align: center;
  font-size: var(--font-size-normal);
  margin-bottom: 0;
}

.link {
  color: var(--ifm-link-color);
  font-size: var(--font-size-normal);
}

.tag {
  display: inline-flex;
  font-size: var(--font-size-small);
  font-weight: var(--ifm-font-weight-bold);
  border: 1px var(--palette-pale-blue) solid;
  border-radius: 20px;
  padding: 2px 10px;
  color: var(--palette-pale-blue);
}

.tag.success {
  border-color: #52DCA2;
  color: #52DCA2;
}

.ctaWrapper {
  display: grid;
  gap: 10px;
  padding: 10px;
  margin-top: 1rem;
  background: #282A36;
  border-radius: 8px;
  border: 1px #3D3F4D solid;
}

html[data-theme="light"] .ctaWrapper {
  background: var(--theme-card-bg-color);
  border-color: var(--palette-pale-blue);
}

.ctaWrapper.transparent,
html[data-theme="light"] .ctaWrapper.transparent {
  background: transparent;
  border-color: transparent;
}

.ctaText {
  font-size: 0.9rem;
  color: var(--theme-text-color);
  opacity: 0.9;
  text-align: center;
}

html[data-theme="light"] .tag.success {
  border-color: var(--ifm-color-success);
  color: var(--ifm-color-success);
}

@media screen and (min-width: 900px) {
  .columns {
    grid-template-columns: repeat(3, 1fr);
  }

  .ctaWrapper {
    height: 110px;
  }
}

@media screen and (min-width: 1000px){
  .columns {
    width: 900px;
  }

  .beforeTitle {
    height: 28px;
  }
}
